/*******************TAG SELECTORS********************/


body{
background-color: #f7f5dd;
font-family: 'Quicksand', sans-serif;
line-height: 2;
}

h1{

color: #b52b65;   
font-family: 'Dancing Script', cursive; 
font-size: 3rem;
}
h2{

color: #ed6663;
font-family: 'Dancing Script', cursive;
}
p{
    margin: 20px; 
   
}

hr{
   border-style: dotted none none; 
   border-color: #e36387;
   border-width: 5px;
   width: 50%;

}
/************************ID SELECTORS*********************/

#disneyland{
    border-radius: 30%;
    max-width: 50%;
    float:left;
    margin-right: 30px;
}
#fotoprincipal{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 60%;
}
.DisneylandParis{
    text-align: center;
    margin:50px auto;
    line-height:1,5;

}